<div class="sec-title text-center mt-3">
    <div class="divider"><img src="{{ theme }}images/icons/divider_1.png" alt=""></div>
    <h4>{{ _('LBL_PRODUCT_ADDED') }}</h4>
</div>

<div class="text-center">
    <a href="javscript:;" data-dismiss="modal" class="btn-simple mr-3">{{ _('LBL_CONTINUE_SHOPPING') }}</a>
    <a href="{{ getPageName('cart') }}" class="btn-simple"><i class="icon flaticon-commerce"></i> {{ _('LBL_VIEW_CART') }}</a>
</div>