{% import "tools.twig" as tools %}
<section class="page-title" style="background-image:url({{ theme }}images/backgrounds/34.jpg)">
    <div class="auto-container">
        <h1>{{ _('LBL_CART_CONTENT') }}</h1>
    </div>
</section>

{{ tools.pageSections(sections, _context) }}

<section class="cart-section{% if sections %} pt-0{% endif %} mb-5">
    <div class="auto-container">
        {% if cart.items %}
        <div class="cart-outer on-cart">
            <div class="table-outer">
                <table class="cart-table">
                    <thead class="cart-header">
                    <tr>
                        <th class="product-name" colspan="2">{{ _('LBL_PRODUCT') }}</th>
                        <th class="product-price">{{ _('LBL_UNIT_PRICE') }}</th>
                        <th class="product-quantity">{{ _('LBL_QUANTITY') }}</th>
                        <th class="product-subtotal">{{ _('LBL_TOTAL') }}</th>
                        <th class="product-remove">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart.items %}
                    <tr class="cart-item cart-item-{{ item.id }}">
                        <td class="product-thumbnail"><a href="{{ item.url }}"><img src="{{ item.image }}" alt="{{ item.name }}"></a></td>
                        <td class="product-name">
                            <a href="{{ item.url }}">
                                {{ item.name }}
                                {% if item.variant %}
                                    <div class="text-muted">({{ item.variant }})</div>
                                {% endif %}
                            </a>
                        </td>
                        <td class="product-price">
                            {{ _price(item.price.displayPrice, cart.currency) }} {{ item.price.unit }}
                        </td>
                        <td class="product-quantity pr-0 pl-0">
                            <div class="input-group" data-id="{{ item.id }}" style="max-width: 200px;">
                                <div class="input-group-prepend">
                                    <button class="btn btn-light quantity-select btn-minus" data-value="-1" type="button" id="button-minus"> - </button>
                                </div>
                                <input type="text" name="quantity" data-min="{{ item.minSale }}" data-max="{{ item.maxSale }}" class="form-control bg-white text-center numbersonly quantity-input border-right-0 item-quantity-{{ item.id }}" value="{{ item.quantity.amount }}">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-white" id="quantity-unit">{{ item.quantity.unit }}</span>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-light quantity-select btn-plus" data-value="1" type="button" id="button-plus"> + </button>
                                </div>
                            </div>
                        </td>
                        <td class="product-subtotal"><span class="item-total-{{ item.id }}">{{ _price(item.price.total, cart.currency) }}</span></td>
                        <td class="product-remove"> <a href="javascript:;" class="remove-item" data-id="{{ item.id }}"><span class="fa fa-times"></span></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {#
            <div class="cart-options clearfix">
                <div class="pull-left">
                    <div class="apply-coupon clearfix">
                        <div class="form-group clearfix">
                            <input type="text" name="coupon-code" value="" placeholder="Coupon Code">
                        </div>
                        <div class="form-group clearfix">
                            <button type="button" class="theme-btn coupon-btn">Apply Coupon</button>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <button type="button" class="theme-btn cart-btn">update cart</button>
                </div>
            </div>
            #}

        </div>
        {% else %}
            <div class="on-empty-cart">
                <div class="sec-title text-center mt-4 mb-5">
                    <div class="divider"><img src="{{ theme }}images/icons/divider_1.png" alt=""></div>
                    <h4>{{ _('LBL_EMPTY_CART') }}</h4>

                    <a href="/" class="btn-simple mt-4">{{ _('LBL_CONTINUE_SHOPPING') }}</a>
                </div>
            </div>
        {% endif %}


        <div class="row justify-content-between on-cart{% if not cart.items %} d-none{% endif %}">
            <div class="column col-lg-4 offset-lg-8 col-md-6 col-sm-12">
                <ul class="totals-table">
                    <li><h3>{{ _('LBL_CART_TOTAL') }}</h3></li>
                    <li class="clearfix cart-item-packaging{% if not cart.packagingFee %} d-none{% endif %}">
                        <span class="col">
                            {{ _('LBL_PACKAGING_FEE') }}
                        </span>
                        <span class="col total-price cart-packaging-fee">{{ _price(cart.packagingFee, cart.currency) }}</span>
                    </li>
                    <li class="clearfix">
                        <span class="col">
                            {{ _('LBL_TOTAL') }}
                            <div class="text-muted small">({{ _('LBL_VAT_INCLUDED') }})</div>
                        </span>
                        <span class="col total-price cart-total">{{ _price(cart.subtotal + cart.packagingFee, cart.currency) }}</span>
                    </li>
                    <li class="text-right mt-4">
                        <a href="{{ getPageName('checkout') }}" class="theme-btn proceed-btn">{{ _('BTN_CHECKOUT') }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
