{% import "tools.twig" as tools %}
<section class="page-title" style="background-image:url({{ theme }}images/backgrounds/34.jpg)">
    <div class="auto-container">
        <h1>{{ _('LBL_ORDERED_ITEMS') }}</h1>
    </div>
</section>

{{ tools.pageSections(sections, false, _context) }}

<section class="cart-section{% if sections %} pt-0{% else %} pt-3{% endif %} mb-5">
    <div class="auto-container">

        <div class="sec-title text-center margin-top-50">
            <div class="divider"><img src="{{ theme }}images/icons/divider_1.png" alt=""></div>
        </div>

        {% if cart.isBankCardPayment %}
            <div class="mb-4">
            {% if cart.isPaid %}
                <div class="alert alert-success">
                    <div class="text-140 mb-2">
                        <i class="fas fa-check"></i>
                        <b>{{ _('LBL_PAYMENT_SUCCESS') }}</b>
                    </div>

                    {{ _('LBL_TRANSACTION_ID') }}: <b>{{ transactionHistory[0].transactionId }}</b>
                    <br>
                    {{ _('LBL_AUTH_CODE') }}: <b>{{ transactionHistory[0].authCode }}</b>
                </div>
            {% elseif cart.isRefunded %}
                <div class="alert alert-info">
                    <div class="text-140 mb-2">
                        <i class="fas fa-undo"></i>
                        <b>{{ _('LBL_PAYMENT_REFUNDED') }}</b>
                    </div>

                    {{ _('LBL_TRANSACTION_ID') }}: <b>{{ transactionHistory[0].transactionId }}</b>
                    <br>
                    {{ _('LBL_AUTH_CODE') }}: <b>{{ transactionHistory[0].authCode }}</b>
                </div>
            {% else %}
                {% if isPending %}
                    <div id="payment-checker" class="alert alert-warning" data-transactionid="{{ transactionId }}" data-interval="{{ refreshInterval }}">
                        <div class="title text-140">
                            <i class="fad fa-spinner fa-spin"></i>
                            <b>{{ _('LBL_PAYMENT_IN_PROGRESS') }}</b>
                        </div>
                        <div class="payment-result mt-2 d-none">
                            <div id="transaction-id">
                                {{ _('LBL_TRANSACTION_ID') }}: <b></b>
                            </div>
                            <div id="auth-code" class="d-none">
                                {{ _('LBL_AUTH_CODE') }}: <b></b>
                            </div>
                            <div id="message"></div>
                        </div>
                    </div>
                {% else %}

                    {% if transactionHistory %}
                        {% set more = false %}
                        {% for transaction in transactionHistory %}
                            {% if loop.index > 1 and transactionHistory|length > 1 and not more %}
                                {% set more = true %}
                                <a href="#transaction-history" data-toggle="collapse">{{ _('LBL_SHOW_TRANSACTIONS') }}</a>
                                <div id="transaction-history" class="collapse">
                            {% endif %}

                            <div class="alert alert-danger mb-2">
                                <div class="text-140 mb-2">
                                    <i class="fas fa-times"></i>
                                    <b>{{ _('LBL_PAYMENT_FAILED') }}</b>
                                </div>

                                <small>{{ _date(transaction.created, 5) }}</small>
                                <br>
                                {{ _('LBL_TRANSACTION_ID') }}: <b>{{ transaction.transactionId }}</b>
                                {% if transaction.message %}
                                    <br>
                                    {{ transaction.message }}
                                {% endif %}
                                <br>
                            </div>
                        {% endfor %}

                        {% if more %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
        {% endif %}

        {% if cart.items %}
            <div class="row mb-3">
                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                    {{ _('LBL_ORDER_NUMBER') }}: <b class="text-info">{{ cart.orderNumber }}</b>
                    <br>
                    {{ _('LBL_ORDER_DATE') }}: <b class="text-info">{{ _date(cart.orderDate, 1) }}</b>
                    <br>
                    {{ _('LBL_ORDER_STATUS') }}: <b class="text-info">{{ _('LBL_ORDER_STATUS_' ~ cart.orderStatus) }}</b>
                    {% if cart.isPaid %}
                    <br>
                    {{ _('LBL_PAID_STATUS') }}: <b class="text-info">{{ _('LBL_PAID') }}</b>
                    {% endif %}
                </div>
                {% if (paymentEnabled or isPending) and not cart.isRefunded %}
                <div id="show-pay-button" class="col-12 col-lg-6 totals-table{% if isPending %} d-none{% endif %}">
                    {{ cart.getSelectedPaymentMode.text|nl2br }}
                    <div class="mt-3 text-center">
                        <a href="./?pay=1" class="theme-btn proceed-btn">{{ _('BTN_PAY') }}</a>
                    </div>
                    {% if cart.getSelectedPaymentMode.logo %}
                        <div class="text-center mt-3">
                            <img src="{{ cart.getSelectedPaymentMode.logo }}" alt="">
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>

            <div class="cart-outer on-cart mb-4">
                <div class="table-outer">
                    <table class="cart-table">
                        <thead class="cart-header">
                        <tr>
                            <th class="product-name" colspan="2">{{ _('LBL_PRODUCT') }}</th>
                            <th class="product-price">{{ _('LBL_UNIT_PRICE') }}</th>
                            <th class="product-quantity">{{ _('LBL_QUANTITY') }}</th>
                            <th class="product-subtotal">{{ _('LBL_TOTAL') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart.items %}
                            <tr class="cart-item cart-item-{{ item.id }}">
                                <td class="product-thumbnail"><a href="{{ item.url }}"><img src="{{ item.image }}" alt="{{ item.name }}"></a></td>
                                <td class="product-name">
                                    <a href="{{ item.url }}">
                                        {{ item.name }}
                                        {% if item.variant %}
                                            <div class="text-muted">({{ item.variant }})</div>
                                        {% endif %}
                                    </a>
                                </td>
                                <td class="product-price">
                                    {{ _price(item.price.displayPrice, cart.currency) }} {{ item.price.unit }}
                                </td>
                                <td class="product-quantity">
                                    {{ item.quantity.amount }} {{ item.quantity.unit }}
                                </td>
                                <td class="product-subtotal"><span class="item-total-{{ item.id }}">{{ _price(item.price.total, cart.currency) }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <div class="row mb-4">
            <div class="col-12 col-lg-6 pr-lg-3 mb-3 mb-lg-0 border-right border-gray-500">
                <h4 class="mb-3"><b>{{ _('LBL_SELECTED_SHIPPING_MODE') }}</b></h4>
                <p>
                    <b>{{ cart.getSelectedShippingMode.name }}</b>
                    <br>
                    {{ cart.getSelectedShippingMode.text|nl2br }}
                </p>
                {% if cart.getSelectedShippingInterval.id != 0 %}
                    <div class="mt-3">
                    {% if cart.getSelectedShippingInterval.id == -1 %}
                        {% if cart.shippingDate %}
                            {{ _('LBL_SELECT_SHIPPING_DATE') }}:
                            {{ _date(cart.shippingDate, 41) }},
                        {% endif %}

                        {{ _('LBL_CUSTOM_SHIPPING_TIME') }}: <b>{{ cart.getSelectedShippingInterval.customText }}</b>
                        {% if cart.getSelectedShippingMode.customIntervalText %}
                        <div class="text-danger">{{ cart.getSelectedShippingMode.customIntervalText }}</div>
                        {% endif %}
                    {% else %}
                        {{ _('LBL_SHIPPING_TIME') }}:
                        <b>
                            {{ _date(cart.shippingDate, 41) }},
                            {{ _date(cart.getSelectedShippingInterval.timeStart, 6, false) }} - {{ _date(cart.getSelectedShippingInterval.timeEnd, 6, false) }}
                        </b>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-lg-6 pl-lg-3">
                <h4 class="mb-3"><b>{{ _('LBL_SELECTED_PAYMENT_MODE') }}</b></h4>
                <p>
                    <b>{{ cart.getSelectedPaymentMode.name }}</b>
                    {% if not cart.isBankCardPayment %}
                        <br>
                        {{ cart.getSelectedPaymentMode.text|nl2br }}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="cws_divider mt-4 mb-4"><img src="{{ theme }}images/icons/divider_12.png" alt=""></div>

        <div class="row justify-content-between">
            <div class="column col-lg-4 offset-lg-8 col-md-6 col-sm-12">
                <ul class="totals-table">
                    <li><h3>{{ _('LBL_CART_TOTAL') }}</h3></li>

                    {% if cart.packagingFee %}
                        <li class="clearfix">
                            <span class="col">{{ _('LBL_PACKAGING_FEE') }}</span>
                            <span class="col total-price cart-total">
                                {{ _price(cart.packagingFee, cart.currency) }}
                            </span>
                        </li>
                    {% endif %}

                    {#
                    <li class="clearfix">
                        <span class="col">
                            {{ _('LBL_SUB_TOTAL') }}
                        </span>
                        <span class="col total-price cart-total">{{ _price(cart.subtotal, cart.currency) }}</span>
                    </li>
                    #}

                    <li class="clearfix">
                        <span class="col">{{ _('LBL_SHIPPING_FEE') }}</span>
                        <span class="col total-price cart-total">
                            {% if cart.shippingFee > 0 %}
                                {{ _price(cart.shippingFee, cart.currency) }}
                            {% else %}
                                {{ _('LBL_FREE') }}
                            {% endif %}
                        </span>
                    </li>

                    {% if cart.paymentFee %}
                    <li class="clearfix">
                        <span class="col">{{ _('LBL_PAYMENT_FEE') }}</span>
                        <span class="col total-price cart-total">{{ _price(cart.paymentFee, cart.currency) }}</span>
                    </li>
                    {% endif %}

                    <li class="clearfix">
                        <span class="col">
                            {{ _('LBL_GRAND_TOTAL') }}
                            <div class="text-muted small">({{ _('LBL_VAT_INCLUDED') }})</div>
                        </span>
                        <span class="col total-price cart-total">{{ _price(cart.total, cart.currency) }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>