<!--Page Title-->
<section class="page-title" style="background-image:url({{ theme }}images/backgrounds/34.jpg)">
    <div class="auto-container">
        <h1>{{ _('LBL_CHANGE_PASSWORD') }}</h1>
        {#
        <ul class="page-breadcrumb">
            <li><a href="/">{{ _('MENU_INDEX') }}</a></li>
            <li>{{ _('MENU_ACCOUNT') }}</li>
        </ul>
        #}
    </div>
</section>
<!--End Page Title-->

<!--Login Section-->
<section class="login-section">
    <div class="auto-container">
        <!-- Login Form -->
        <div class="login-form">
            <h2 class="mb-3">{{ _('LBL_RECOVER_PASSWORD') }}</h2>

            {% if not success %}
                {% if forms['newPassword'].errors|length > 0 %}
                    <div class="message-box with-icon warning">
                        <div class="icon-box">
                            <span class="icon fa fa-exclamation"></span>
                        </div>
                        <h4>{{ _('ERR_WARNING') }}</h4>
                        {% for error in forms['newPassword'].errors %}
                            <p>{{ _('ERR_' ~ error['code']) }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <form action="/{{ forms.newPassword.postUrl }}/" id="request-new-password" method="post" autocomplete="off" class="mb-3">
                    <input id="token" type="hidden" name="newPassword[token]" value="{{ forms['newPassword'].values.token }}">

                    <div class="form-group floating-label{% if 'password1' in forms['newPassword'].errors[1000].controls %} has-error{% endif %}">
                        <input type="password" id="password" name="newPassword[password]" class="form-control" value="{{ forms['newPassword'].values.password }}" placeholder=" " data-parsley-required="1">
                        <label class="control-label" for="password">{{ _('LBL_PASSWORD') }}</label>
                    </div>

                    <div class="form-group floating-label{% if 'password1' in forms['newPassword'].errors[1000].controls %} has-error{% endif %}">
                        <input type="password" id="password2" name="newPassword[confirm_password]" class="form-control" value="{{ forms['newPassword'].values.confirm_password }}" placeholder=" " data-parsley-required="1">
                        <label class="control-label" for="password2">{{ _('LBL_CONFIRM_PASSWORD') }}</label>
                    </div>

                    <div class="form-group">
                        <button type="submit" name="newPassword[setpwd]" class="theme-btn">
                            {{ _('BTN_SET_NEWPWD') }}
                        </button>
                    </div>
                </form>
            {% else %}
                <div class="message-box with-icon success">
                    <div class="icon-box">
                        <span class="icon fa fa-check"></span>
                    </div>
                    <h4>{{ _('ERR_SUCCESS') }}</h4>
                    {{ _('LBL_PASSWORD_CHANGED_SUCCESSFULLY') }}
                </div>
            {% endif %}

            <div class="form-group pass mt-4">
                <a href="/login/" class="psw">
                    {{ _('LBL_BACK_TO_LOGIN') }}
                </a>
            </div>
        </div>
        <!--End Login Form -->
    </div>
</section>
<!--End Login Section-->