<ul class="nav nav-circle ml-auto">
    <li class="nav-item dropdown nav-notif">
        <a class="nav-link nav-link-faded nav-icon has-badge dropdown-toggle no-caret" href="#" data-toggle="dropdown" data-display="static">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
            <span class="badge badge-pill badge-danger{% if notifications.count == 0 %} d-none{% endif %}">{{ notifications.count }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right p-0 ml-2">
            <div class="card">
                <div class="card-header bg-primary text-white text-right d-flex">
                    <a href="/my-profile/?tab=notifications" class="justify-content-around" data-toggle="tooltip" data-placement="left" title="{{ _('LBL_NOTIFICATION_SETTINGS') }}"><i class="fas fa-cog text-white"></i></a>
                </div>
                {% if notifications.items %}
                <div id="notification-list" class="card-body p-0 pt-1">
                    <div class="list-group list-group-sm list-group-flush">
                        {% for nid, notification in notifications.items %}
                        <a  href="javascript:;" data-url="{{ notification.url }}" data-id="{{ nid }}" data-level="{{ notification.level }}" class="list-group-item list-group-item-action btn-notification{% if not notification.viewed %} notification-unseen{% endif %}">
                            <div class="media">
                                {% if notification.icon %}
                                <span class="bg-{% if notification.level %}{{ notification.level }}{% else %}primary{% endif %} text-white btn-icon rounded-circle">
                                    <i class="{{ notification.icon }}"></i>
                                </span>
                                {% endif %}
                                <div class="media-body ml-2">
                                    <p class="mb-0">{{ notification.text }}</p>
                                    <small class="text-secondary">
                                        <i class="fa fa-clock mr-1"></i>{{ _date(notification.created, 5) }}
                                    </small>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="card-footer justify-content-center">
                    <span class="text-muted small">{{ _('LBL_NO_NEW_NOTIFICATION') }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </li>
    <li class="nav-item dropdown ml-2">
        <a class="nav-link nav-link-faded rounded nav-link-img dropdown-toggle px-2" href="#" data-toggle="dropdown" data-display="static">
            <img src="{{ user.img }}" alt="Admin" class="rounded-circle mr-2 user-profile-img">
            <span class="d-none d-sm-block">{{ user.name }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right pt-0 overflow-hidden">
            <div class="media align-items-center bg-primary text-white px-4 py-3 mb-2">
                <img src="{{ user.img }}" alt="Admin" class="rounded-circle user-profile-img" width="50" height="50">
                <div class="media-body ml-2 text-nowrap">
                    <h6 class="mb-0">{{ user.name }}</h6>
                    <span class="text-gray-400 font-size-sm">{{ _('LBL_ROLE_' ~ user.role) }}</span>
                </div>
            </div>
            <a class="dropdown-item has-icon" href="/my-profile/">
                <i data-feather="user" class="mr-2"></i>
                {{ _('LBL_PROFILE') }}
            </a>
            <a class="dropdown-item has-icon" href="/my-profile/?tab=security">
                <i data-feather="lock" class="mr-2"></i>
                {{ _('LBL_CHANGE_PASSWORD') }}
            </a>
            <a class="dropdown-item has-icon text-danger" href="/logout/">
                <i data-feather="log-out" class="mr-2"></i>
                {{ _('LBL_LOGOUT') }}
            </a>
        </div>
    </li>
</ul>