<div class="row justify-content-center mb-3">
    <div class="col-md-12 d-flex justify-content-center">
        <div class="card shadow">
            <div class="card-header bg-primary text-white flex-column">
                <h4 class="text-center mb-0">{{ _('LBL_CHANGE_PASSWORD') }}</h4>
            </div>

            <div class="card-body p-4">
                {% if not success %}
                    {% if forms['newPassword'].errors|length > 0 %}
                        <div class="alert alert-danger alert-accent">
                            {% for error in forms['newPassword'].errors %}
                                <h6 class="mb-1 alert-heading">{{ _('ERR_' ~ error['code']) }}</h6>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if not forms['newPassword'].errors[10011] %}
                        <form action="/set-new-password/" method="post" id="request-new-password" autocomplete="off">
                            <input id="token" type="hidden" name="newPassword[token]" value="{{ forms['newPassword'].values.token }}">

                            <div class="form-group{% if 'password1' in forms['newPassword'].errors[1000].controls %} has-error{% endif %}">
                                <div class="floating-label input-icon">
                                    <i data-feather="lock" stroke-width="1"></i>
                                    <input type="password" class="form-control" id="password1" name="newPassword[password]" value="{{ forms['newPassword'].values.password }}" placeholder="" />
                                    <label class="floating-label" for="password1">
                                        {{ _('LBL_NEW_PASSWORD') }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group{% if 'password2' in forms['newPassword'].errors[1000].controls %} has-error{% endif %}">
                                <div class="floating-label input-icon">
                                    <i data-feather="lock" stroke-width="1"></i>
                                    <input type="password" class="form-control" id="password2" name="newPassword[confirm_password]" value="{{ forms['newPassword'].values.confirm_password }}" placeholder="" />
                                    <label class="floating-label" for="password2">
                                        {{ _('LBL_CONFIRM_PASSWORD') }}
                                    </label>
                                </div>
                            </div>

                            <button type="submit" name="newPassword[setpwd]" value="1" class="btn btn-theme btn-primary btn-block">
                                {{ _('BTN_SET_NEWPWD') }}
                            </button>
                        </form>
                    {% endif %}
                {% else %}
                    <div class="alert alert-success alert-accent">
                        <i class="fas fa-info-circle mr-2 text-success"></i>
                        {{ _('LBL_PASSWORD_CHANGED_SUCCESSFULLY')|raw }}
                    </div>
                {% endif %}

                <div class="text-right mt-3">
                    <a href="/login/" class="small">
                        <i class="fas fa-chevron-left mr-1"></i>
                        {{ _('LBL_BACK_TO_LOGIN') }}
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
{% include 'copyright.twig' %}




