{% import "formBuilderMacros.twig" as formBuilder %}
{% if form.title %}
    <h2 class="mb-3">
        {{ _(form.title) }}{% if form.subTitle %}: <span class="text-primary font-light">{{ _(form.subTitle) }}</span>{% endif %}
    </h2>
{% endif %}

{% if form.errors|length > 0 and form.displayErrors %}
    <div class="message-box with-icon error">
        <div class="icon-box">
            <span class="icon fa fa-exclamation"></span>
        </div>
        <h4>{{ _('ERR_WARNING') }}</h4>
        {% for error in form.errors %}
            <p>{{ _(error['message'])|raw }}</p>
        {% endfor %}
    </div>
{% endif %}

{% if context.messages and form.displayErrors %}
    {% for type, message in context.messages %}
    <div class="alert alert-info alert-accent" role="alert">
        <div class="alert-heading text-{{ type }}-m1">
            {% if type == 'danger' %}
                <i class="fas fa-exclamation-triangle mr-1 mb-1"></i>
            {% elseif  type == 'warning' %}
                <i class="fas fa-exclamation-circle mr-1 mb-1"></i>
            {% elseif  type == 'success' %}
                <i class="fas fa-check mr-1 mb-1"></i>
            {% else %}
                <i class="fas fa-info-circle mr-3 fa-2x text-blue"></i>
            {% endif %}

            {% for msg in message %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endif %}

{% if form.includeBefore %}
    {% include form.includeBefore ~ '.twig' %}
{% endif %}

{% if form.sections %}
    {% if form.sections.type == 'tab' %}
        <div class="row gutters-sm">
            {% if not form.sections.hideSidebar %}
            <div class="col-md-4 d-none d-md-block">
                <div class="card">
                    <div class="card-body">
                        <nav class="nav flex-column nav-pills nav-gap-y-1">
                            {% for section in form.sections.items %}
                            <a href="#{{ section.id }}" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded{% if section.active %} active{% endif %}">
                                {% if section.icon %}
                                    <i class="{{section.icon }} fa-fw mr-3"></i>
                                {% elseif section.featherIcon %}
                                    <i data-feather="{{ section.featherIcon }}" class="mr-2"></i>
                                {% endif %}
                                {{ _(section.title) }}
                            </a>
                            {% endfor %}
                        </nav>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="{% if not form.sections.hideSidebar %}col-md-8{% else %}{{ form.formWidth }}{% endif %}">
                <div class="card">
                    <div class="card-header border-bottom mb-3 d-flex{% if not form.sections.hideSidebar %} d-md-none{% endif %}">
                        <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                            {% for section in form.sections.items %}
                                <li class="nav-item">
                                    <a href="#{{ section.id }}" data-toggle="tab" class="nav-link has-icon{% if section.active %} active{% endif %}">
                                        {% if section.icon %}
                                            <i class="{{section.icon }} fa-fw mr-2"></i>
                                        {% elseif section.featherIcon %}
                                            <i data-feather="{{ section.featherIcon }}" class="mr-2"></i>
                                        {% endif %}
                                        {% if form.sections.hideSidebar %}
                                            {{ _(section.title) }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        {% for section in form.sections.items %}
                            <div class="tab-pane{% if section.active %} active{% endif %}" id="{{ section.id }}">
                                {{ formBuilder.renderElements(form.controls[section.id], form.values, form.name, form.errors) }}
                            </div>
                        {% endfor %}
                    </div>

                    {% if form.buttons|length > 0 %}
                        <div class="d-flex card-footer p-3 bg-gray-100 border-top{% if form.cssClass.footer %} {{ form.cssClass.footer }}{% endif %}">
                            <div class="justify-content-end ml-auto">
                                {% for button in form.buttons %}
                                    {% if button.showInEditor and not button.isHidden  %}
                                    {{ formBuilder.button(button) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        {% for section in form.sections.items %}
            <div class="row gutters-sm mb-4">
                {% if not form.sections.hideSidebar %}
                <div class="col-md-4 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-primary">
                                {% if section.icon %}
                                    <i class="{{section.icon  }} fa-fw mr-2"></i>
                                {% elseif section.featherIcon %}
                                    <i data-feather="{{ section.featherIcon }}" class="mr-2"></i>
                                {% endif %}
                                {{ _(section.title) }}
                            </h5>
                            {% if section.text %}
                                {{ _(section.text) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="{% if not form.sections.hideSidebar %}col-md-8{% else %}{% if section.class %}{{ section.class }}{% else %}{{ form.formWidth }}{% endif %}{% endif %}">
                    <div class="card">
                        {% if form.sections.hideSidebar and section.title %}
                            <div class="card-header">
                                <h5 class="text-primary">
                                    {% if section.icon %}
                                        <i class="{{section.icon  }} fa-fw mr-2"></i>
                                    {% elseif section.featherIcon %}
                                        <i data-feather="{{ section.featherIcon }}" class="mr-2"></i>
                                    {% endif %}
                                    {{ _(section.title) }}
                                </h5>
                                {% if section.text %}
                                    {{ _(section.text) }}
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="card-body">
                            {{ formBuilder.renderElements(form.controls[section.id], form.values, form.name, form.errors) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if form.buttons|length > 0 %}
            <div class="row">
                <div class="d-flex pt-2 mb-3 {{ form.formWidth}} {% if form.cssClass.footer %} {{ form.cssClass.footer }}{% endif %}">
                    <div class="justify-content-start mr-auto">
                        {% for button in form.buttons %}
                            {% if button.showInEditor and not button.isHidden  %}
                            {{ formBuilder.button(button) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% else %}
    <div class="{% if form.boxed %}card bcard{% endif %}{% if form.cssClass.card %} {{ form.cssClass.card }}{% endif %}">
        {% if form.boxed %}
            <div class="card-body{% if form.cssClass.body %} {{ form.cssClass.body }}{% endif %}">
                {{ formBuilder.renderElements(form.controls, form.values, form.name, form.errors) }}
            </div>
        {% else %}
            {{ formBuilder.renderElements(form.controls, form.values, form.name, form.errors) }}
        {% endif %}

        {% if form.buttons|length > 0 %}
            <div class="d-flex {% if form.boxed %}card-footer p-3 bg-gray-100 border-top{% else %}mt-4{% endif %}{% if form.cssClass.footer %} {{ form.cssClass.footer }}{% endif %}">
                {% for button in form.buttons %}
                    {% if button.showInEditor and not button.isHidden %}
                    {{ formBuilder.button(button) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}