{% macro productItem(data, stopSale, showCategory = false, context) %}
    {% import _self as tools %}
    <div id="item-{{ data.id }}" class="shop-item col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
            <div class="image-box">
                {% if data.variants[0].price.discount > 0 and data.variants[0].price.value > data.variants[0].price.discount %}
                <div class="sale-tag">{{ _('LBL_SALE') }}</div>
                {% endif %}
                <figure class="image">
                    <a href="{{ data.url }}">
                        <img src="{% if data.thumbnail %}{{ data.thumbnail }}{% else %}{{ context.theme }}images/no-img.png{% endif %}" width="270" height="270" alt="{{ data.name }}" title="{{ data.name }}">
                    </a>
                </figure>
                <div class="btn-box">
                    {% if data.available and not stopSale %}
                        <a href="javascript:;" class="add-to-cart" data-id="{{ data.id }}" data-variant="{{ data.variants[0].id }}" data-quantity="1"><i class="far fa-cart-plus"></i> {{ _('LBL_ADD_TO_CART') }}</a>
                    {% else %}
                        <a href="{{ data.url }}"> {{ _('LBL_VIEW_DETAILS') }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="lower-content">
                <h4 class="name">
                    <a href="{{ data.url }}">{{ data.name }}</a>
                </h4>
                {% if showCategory %}
                <a href="{{ data.category.url }}">{{ data.category.name }}</a>
                {% endif %}
                {{ tools.ratingStars(data.ratings.value, data.ratings.reviews) }}
                <div class="price">
                    {% if data.available and not stopSale %}
                        {% if data.variants[0].price.discount > 0 and data.variants[0].price.value > data.variants[0].price.discount  %}
                            <del>{{ _price(data.variants[0].price.value, data.variants[0].price.currency) }}</del>
                        {% endif %}
                        {{ _price(data.variants[0].price.displayPrice, data.variants[0].price.currency) }} {{ data.variants[0].price.unit }}
                        {% if data.hasVariants %}{{ _('LBL_PRICE_FROM') }}{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro ratingStars(value, reviews) %}
    {% if value and reviews %}
    <div class="rating">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star light"></span>
    </div>
    {% endif %}
{% endmacro %}

{% macro pager(data) %}
    {% if data.totalPages > 1 %}

        {% set totalPages = data.totalPages %}
        {% set pagerButtons = 8 %}

        <div class="styled-pagination text-center">
            <ul>
                {% if data.page > 1 %}
                    <li><a class="prev pager" href="javascript:;" data-page="{{ data.page - 1 }}"><i class="fa fa-chevron-left"></i></a></li>
                {% else %}
                    <li><a class="disabled" href="javascript:;"><i class="fa fa-chevron-left"></i></a></li>
                {% endif %}
                <li class="{% if data.page == 1 %}current{% endif %}"><a href="javascript:;" class="pager" data-page="1">1</a></li>

                {% if totalPages > 2 %}

                    {% set ellipsisLeft = 0 %}
                    {% set ellipsisRight = 0 %}

                    {% if totalPages > pagerButtons %}

                        {% if data.page >= pagerButtons %}
                            {% if totalPages > pagerButtons + 1 %}
                                {% set ellipsisLeft = 1 %}
                            {% endif %}
                            {% set ellipsisRight = 1 %}

                            {% set pStart = data.page - 2 %}
                            {% set pEnd = data.page + 2 %}

                            {% if data.page > totalPages - (pagerButtons - 1) %}
                                {% set ellipsisRight = 0 %}
                                {% set pStart = totalPages - (pagerButtons - 1) %}
                                {% set pEnd = totalPages - 1 %}
                            {% endif %}

                        {% else %}
                            {% set pStart = 2 %}

                            {% if totalPages > pagerButtons %}
                                {% set pEnd = pagerButtons %}
                                {% set ellipsisRight = 1 %}
                            {% else %}
                                {% set pEnd = totalPages - 1 %}
                            {% endif %}

                            {% if totalPages > pagerButtons + 1 %}
                                {% set ellipsisRight = 1 %}
                            {% endif %}

                        {% endif %}

                    {% else %}
                        {% set pStart = 2 %}
                        {% set pEnd = totalPages - 1 %}
                    {% endif %}

                    {% if ellipsisLeft == 1 %}
                        <li><a class="">...</a></li>
                    {% endif %}

                    {% for page in pStart..pEnd %}
                        <li class="{% if page == data.page %}current{% endif %}"><a href="javascript:;" class="pager" data-page="{{ page }}">{{ page }}</a></li>
                    {% endfor %}

                    {% if ellipsisRight == 1 %}
                        <li><a class="">...</a></li>
                    {% endif %}

                {% endif %}
                <li class="{% if totalPages == data.page %}current{% endif %}"><a href="javascript:;" class="pager" data-page="{{ totalPages }}">{{ totalPages }}</a></li>

                {% if data.page < totalPages %}
                    <li class=""><a class="next pager" href="javascript:;" data-page="{{ data.page + 1 }}"><i class="fa fa-chevron-right"></i></a></li>
                {% else %}
                    <li class=""><a class="disabled" href="javascript:;"><i class="fa fa-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro highlightItem(data) %}
    <div class="service-block">
        <div class="inner-box">
            <a href="{{ data.url }}">
                <div class="image-box">
                    <div class="services_frame">
                        <svg width="100%" height="100%" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                            <path d="M500,0L0,0L0,500L500,500L500,0ZM488.5,274.5L490.3,274L488.3,274.5C485.9,265.8 483.8,257.6 483.8,250C483.8,242 486.1,233.5 488.5,224.5C492,211.5 495.6,198 492.2,185C488.6,171.8 478.7,161.9 469.1,152.3C462.6,145.8 456.5,139.7 452.5,132.9C448.6,126.1 446.4,117.7 444,108.8C440.5,95.7 436.9,82.1 427.3,72.5C417.8,63 404.4,59.4 391.4,55.9C382.4,53.5 373.9,51.3 367,47.2C360.5,43.4 354.5,37.4 348.1,31C338.4,21.2 328.5,11.2 314.9,7.6C301.4,3.9 287.6,7.7 274.5,11.3C265.8,13.7 257.6,15.9 250,15.9C242,15.9 233.5,13.6 224.5,11.2C215.2,8.7 205.7,6.2 196.4,6.2C192.6,6.2 188.8,6.6 185.1,7.6C172,11.1 162,21.1 152.4,30.7C145.9,37.2 139.8,43.3 133,47.3C126.2,51.2 117.8,53.4 108.9,55.8C95.8,59.3 82.2,62.9 72.6,72.5C63.1,82 59.5,95.5 56,108.5C53.6,117.5 51.4,126 47.3,132.9C43.5,139.4 37.5,145.4 31.1,151.8C21.3,161.5 11.4,171.4 7.7,185C4,198.5 7.8,212.3 11.4,225.5C13.8,234.2 16,242.4 16,250C16,258 13.7,266.5 11.4,275.5C7.9,288.5 4.3,302.1 7.7,315C11.3,328.2 21.2,338.1 30.8,347.7C37.3,354.2 43.4,360.3 47.4,367.1C51.3,373.9 53.5,382.2 55.9,391.1C59.4,404.2 63,417.9 72.6,427.5C82.1,437 95.6,440.6 108.5,444.1C117.5,446.5 126,448.7 132.9,452.8C139.4,456.6 145.4,462.6 151.8,469C161.5,478.8 171.4,488.8 185,492.5C188.8,493.5 192.6,494 196.8,494C206.4,494 216.1,491.3 225.3,488.9C234.1,486.5 242.3,484.3 249.8,484.3C257.8,484.3 266.3,486.6 275.3,488.9C288.3,492.5 301.9,496 314.8,492.6C328,489 337.9,479.1 347.5,469.5C354,463 360.1,456.9 366.9,452.9C373.6,449 382,446.8 390.9,444.4C404,440.9 417.7,437.3 427.3,427.6C436.8,418.1 440.4,404.6 443.9,391.6C446.3,382.6 448.5,374.1 452.6,367.2C456.4,360.7 462.4,354.7 468.8,348.3C478.6,338.6 488.7,328.6 492.4,315C495.7,301.4 494.4,287.7 488.5,274.5Z" style="fill:white;"/>
                        </svg>
                    </div>
                    <figure class="image">
                        <img src="{{ data.thumbnail }}" width="126" height="126" alt="">
                    </figure>
                </div>
            </a>
            <h4 class="name mb-1">
                <a href="{{ data.url }}">
                    {{ data.name }}
                </a>
            </h4>
            {% if data.available %}
            <div class="price">
                {% if data.variants[0].price.discount > 0 and data.variants[0].price.value > data.variants[0].price.discount  %}
                    <del>{{ _price(data.variants[0].price.value, data.variants[0].price.currency) }}</del>
                {% endif %}
                {{ _price(data.variants[0].price.displayPrice, data.variants[0].price.currency) }} {{ data.variants[0].price.unit }}
                {% if data.hasVariants %}{{ _('LBL_PRICE_FROM') }}{% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro cartItemHeader(item) %}
<li class="cart-item cart-item-{{ item.id }}">
    <img src="{{ item.image }}" alt="{{ item.name }}" width="65" height="65" class="thumb" />
    <span class="item-name">
        {{ item.name }}
    </span>
    {% if item.variant %}
        <span class="text-muted">{{ item.variant }}</span>
    {% endif %}
    <span class="item-quantity">
        <span class="item-quantity-{{ item.id }}">{{ item.quantity.amount }} {{ item.quantity.unit }}</span> x
        <span class="item-price-{{ item.id }} item-price">{{ _price(item.price.value, item.price.currency) }}</span>
    </span>
    <a href="{{ item.url }}" class="product-detail"></a>
    <button class="remove-item" data-id="{{ item.id }}"><span class="fa fa-times"></span></button>
</li>
{% endmacro %}

{% macro pageSections(sections, addDividerImageId = 11, context) %}
    {% if sections %}
        {% for section in sections %}
            <section class="contact-section pt-3">
                <div class="auto-container">
                    <div class="sec-title text-center mb-1 mt-1">
                        <h2>{{ section.title }}</h2>
                        <div class="text">
                            {{ include(template_from_string(section.content)) }}
                        </div>
                    </div>
                    {% if addDividerImageId %}
                    <div class="cws_divider mt-5"><img src="{{ context.theme }}images/icons/divider_{{ addDividerImageId }}.png" alt=""></div>
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro form(form, context) %}
    <form action="{{ form.action }}" method="post" id="{{ form.name }}-form" autocomplete="off" class="parsley-form"{% if form.upload is not empty %} enctype="multipart/form-data"{% endif %} data-modal="false">
        {% include "formBuilder.twig" %}
    </form>
{% endmacro %}

{% macro table(table, filterFormName) %}
    {% import _self as tools %}
    {% if table.form is not empty %}
        {% if table.formTemplate %}
            {% include table.formTemplate ~ constant('TWIG_FILE_EXTENSION') %}
        {% else %}
            {% if table.form.view is not empty %}
                {{ tools.view(table.form) }}
            {% else %}
                {{ tools.form(table.form) }}
            {% endif %}
        {% endif %}
    {% else %}
        {% if table.boxed %}
            {% include "table-boxed.twig" %}
        {% else %}
            {% include "table.twig" %}
        {% endif %}

        {% if table.inlineForm is not empty %}
            {{ tools.form(table.inlineForm) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro view(form) %}
    {% import "formBuilderMacros.twig" as formBuilder %}
    {% if form.title or form.toolsTemplate %}
        <div class="border-0 mb-3">
            {% if form.title %}
                <div class="float-left">
                    <h1 class="page-title text-secondary-d3 text-140 d-block">
                        {{ _(form.title) }}
                    </h1>
                    {% if form.subTitle %}
                        <h6 class="text-grey-l2 font-light">{{ form.subTitle }}</h6>
                    {% endif %}
                </div>
            {% endif %}
            {% if form.toolsTemplate %}
                <div class="float-right">
                    {% include form.toolsTemplate ~ ".twig" %}
                </div>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    {% endif %}

    {% include form.view ~ '.twig' %}

    {% if form.buttons|length > 0 %}
        <div class="d-flex">
            <div class="justify-content-end ml-auto">
                {% for button in form.buttons %}
                    {% if button.showInViewer and not button.isHidden %}
                        {{ formBuilder.button(button) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro form_header(table) %}
    {% import _self as tools %}

    {% if table.form %}
        <div class="text-muted mb-2">
            <i class="fas fa-angle-left"></i> <a href="{{ table.form.buttons.cancel.link }}" class="text-muted">{{ _(table.form.header.parent) }}</a>
        </div>

        {% if table.form.header.selectionText %}
            <h3>{{ table.form.header.selectionText|raw }}</h3>
        {% else %}
            <H3>
                {% if table.form.header.raw %}
                    {{ table.form.header.title|raw }}
                {% else %}
                    {{ _(table.form.header.title) }}
                {% endif %}
            </H3>
        {% endif %}

        {% if table.form.header.subtitle != '' %}
            <div class="subtitle">
                {% if table.form.header.raw %}{{ table.form.header.subtitle|raw }}{% else %}{{ _(table.form.header.subtitle) }}{% endif %}
            </div>
        {% endif %}
    {% else %}
        <h3>{{ _(table.header) }}</h3>
    {% endif %}

{% endmacro %}

{% macro table_cell(table_name, keyvalue, column, val, row, readonly = false, table = false) %}
    {% if column.type == 'number' %}<div{% if val > 0 %} class="text-success"{% elseif val < 0 %} class="text-danger"{% endif %}>{% endif %}
    {% if column.templatestring is not empty %}
        {{ include(template_from_string( column.templatestring )) }}
    {% elseif column.type == 'options' %}
        {% if column.options[val] is iterable %}
            {% if column.options[val].class is not empty %}<div class="btn btn-block btn-sm {{ column.options[val].class }}">{% endif %}
            {{ _(column.options[val].name) }}
            {% if column.options[val].class is not empty %}</div>{% endif %}
        {% elseif column.options[val] is not empty %}
            {{ _(column.options[val]) }}
        {% else %}
            {%  for opt in column.options %}
                {% if opt is iterable and opt[val] is not empty %}
                    {{ _(opt[val]) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% elseif column.type == 'checkgroup' %}
        {% set val = val|split('|') %}
        {% for opt in val %}{% if opt is not empty %}{{ column.options[opt] }}, {% endif %}{% endfor %}
    {% elseif column.type == 'icon' %}
        <i class="fa fa-{{ column.icons[ val ] }}{% if column.colors %} text-{{ column.colors[val] }}{% endif %}"></i>
    {% else %}
        {{ val|raw }}{% if column.unit is not empty %} {{ column.unit|raw }}{% endif %}
    {% endif %}
    {% if column.type == 'number' %}</div>{% endif %}
{% endmacro %}

{% macro table_options(keyvalue, table, row) %}
    <div class="table-options">
        {% if table.optionTemplate is not empty %}
            {% include table.optionTemplate ~ constant('TWIG_FILE_EXTENSION') %}
        {% else %}
            {% if table.subTable %}
                {% if table.readonly %}
                    {% if table.view %}<a data-toggle="modal" data-target="#ajax-modal"{% if table.modalSize or table.viewModalSize %} data-size="{% if table.viewModalSize %}{{ table.viewModalSize }}{% else %}{{ table.modalSize }}{% endif %}"{% endif %} href="/ajax/forms/{% if table.viewForm %}{{ table.viewForm }}{% else %}{{ table.formName }}{% endif %}/{{ keyvalue }}/?view=1" class="btn btn-light btn-h-info" data-backdrop="static" data-keyboard="false"><i class="far fa-eye text-muted"></i></a>{% endif %}
                {% else %}
                    {% if table.view %}<a data-toggle="modal" data-target="#ajax-modal"{% if table.modalSize or table.viewModalSize %} data-size="{% if table.viewModalSize %}{{ table.viewModalSize }}{% else %}{{ table.modalSize }}{% endif %}"{% endif %} href="/ajax/forms/{% if table.viewForm %}{{ table.viewForm }}{% else %}{{ table.formName }}{% endif %}/{{ keyvalue }}/?view=1" class="btn btn-light h-info"><i class="far fa-eye"></i></a>{% endif %}
                    {% if table.edit and ((row['options'].edit is defined and row['options'].edit != false) or row['options'].edit is not defined) %}<a data-toggle="modal" data-target="#ajax-modal"{% if table.modalSize %} data-size="{{ table.modalSize }}"{% endif %} href="/ajax/forms/{{ table.formName }}/{{ keyvalue }}/{{ table.name }}/" class="btn btn-light h-info" data-backdrop="static" data-keyboard="false"><i class="far fa-edit"></i></a>{% endif %}
                {% endif %}
            {% else %}
                {% if table.readonly %}
                    {% if table.view %}<a href="{% if table.customUrl %}{{ table.customUrl|replace({'%keyvalue%': keyvalue, '%id%': row.__id }) }}{% else %}view|{{ table.name }}/{{ keyvalue }}/{% endif %}" class="btn btn-light h-info"><i class="far fa-eye"></i></a>{% endif %}
                {% else %}
                    {% if table.view %}<a href="view|{{ table.name }}/{{ keyvalue }}/" class="btn btn-light h-info"><i class="far fa-eye"></i></a>{% endif %}
                    {% if table.edit and ((row['options'].edit is defined and row['options'].edit != false) or row['options'].edit is not defined) %}<a href="edit|{{ table.name }}/{{ keyvalue }}/" class="btn btn-light h-info"><i class="far fa-edit"></i></a>{% endif %}
                {% endif %}
            {% endif %}

            {% if not table.readonly %}
                {% if table.copy %}<a data-confirm-action="tables.copy('{{ table.name }}', '{{ keyvalue }}')" href="#" data-toggle="modal" data-target="#confirm-delete" data-confirm-button="{{ _('BTN_COPY') }}" data-confirm-question="{{ _('CONFIRM_COPY_TABLE_RECORD')|e }}" data-title="{{ _('LBL_COPY_TABLE_RECORD_TITLE')|e }}" data-color="warning" class="btn btn-light h-warning"><i class="far fa-clone"></i></a>{% endif %}

                {% if table.delete and row['options'].delete != false %}
                    {% if table.deleteField %}
                        {% if row['options'].isDeleted %}
                            {% if table.undelete %}
                                <a data-confirm-action="tables.unDelete('{{ table.name }}', '{{ keyvalue }}')" href="#" data-toggle="modal" data-target="#confirm-delete" data-confirm-button="{{ _('BTN_UNARCHIVE') }}" data-confirm-question="{{ _('CONFIRM_UNARCHIVE_TABLE_RECORD')|e }}" class="btn btn-light h-danger"><i class="fa fa-undo"></i> </a>
                            {% endif %}
                        {% else %}
                            <a data-confirm-action="tables.delete('{{ table.name }}', '{{ keyvalue }}')" href="#" data-toggle="modal" data-target="#confirm-delete" data-confirm-button="{{ _('BTN_ARCHIVE') }}" data-confirm-question="{{ _('CONFIRM_ARCHIVE_TABLE_RECORD')|e }}" class="btn btn-light h-danger"><i class="fa fa-archive"></i> </a>
                        {% endif %}
                    {% else %}
                        <a data-confirm-action="tables.delete('{{ table.name }}', '{{ keyvalue }}')" href="#" data-toggle="modal" data-target="#confirm-delete" data-confirm-question="{{ _('CONFIRM_DELETE_TABLE_RECORD')|e }}" class="btn btn-light h-danger"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if table.additionalOptionsTemplate is not empty %}
            {% include table.additionalOptionsTemplate ~ constant('TWIG_FILE_EXTENSION') %}
        {% endif %}
    </div>
{% endmacro %}

{% macro infinite_scroll(id, container, current, pagenum, url, callback) %}
    <div id="{{ id }}" class="infinite_scroll text-center{% if current == pagenum %} hidden{% endif %}" data-container="{{ container }}" data-current="{{ current }}" data-pagenum="{{ pagenum }}"{% if url != '' %} data-url="{{ url }}"{% endif %}{% if callback != '' %} data-callback="{{ callback }}"{% endif %}>
        <i class="fas fa-circle-notch fa-spin text-muted"></i>
    </div>
{% endmacro %}