{#
<section class="page-title" style="background-image:url({{ theme }}images/backgrounds/34.jpg)">
    <div class="auto-container">
        <h1>{{ _('LBL_PAGE_NOT_FOUND') }}</h1>
        <ul class="page-breadcrumb">
            <li><a href="/">{{ _('MENU_HOME') }}</a></li>
        </ul>
    </div>
</section>
#}

<section class="about-section-two alternate" style="min-height:540px; background-image: url({{ theme }}images/backgrounds/36.jpg);">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>404</h2>
        </div>
        <div class="content-box">
            <span class="devider_icon_one"></span>
            <p>
                {{ _('LBL_PAGE_NOT_FOUND_TEXT') }}
            </p>
        </div>
        <div class="btn-box text-center">
            <a href="/" class="theme-btn btn-style-two regular"><span></span>{{ _('LBL_BACK_TO_HOME') }}<span></span></a>
        </div>
    </div>
</section>