{% import "tools.twig" as tools %}
<header class="main-header">
    <div class="menu_wave"></div>
    <div class="main-box">
        <div class="menu-box">
            <div class="logo"><a href="/"><img src="{{ uploads }}logo-main.svg" width="250" alt="{{ settings.shopName }}" title=""></a></div>
            <div class="nav-outer clearfix">
                {% include 'menu.twig' %}

                <div class="outer-box clearfix">
                    <div class="cart-btn">
                        <a href="{{ getPageName('cart') }}"><i class="icon flaticon-commerce"></i>
                            <span class="on-cart cart-counter count{% if not cart.getNumberOfCartItems %} d-none{% endif %}">{{ cart.getNumberOfCartItems }}</span>
                        </a>

                        <div class="shopping-cart">
                            <ul class="shopping-cart-items">
                                {% if cart.getNumberOfCartItems > 0 %}
                                    {% for item in cart.getCartItems %}
                                        {{ tools.cartItemHeader(item) }}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <div class="on-cart cart-footer{% if not cart.getNumberOfCartItems %} d-none{% endif %}">
                                <div class="shopping-cart-total"><strong>{{ _('LBL_TOTAL') }}: </strong><span class="cart-total">{{ _price(cart.subtotal, cart.currency) }}</span></div>
                                <a href="{{ getPageName('cart') }}" class="theme-btn">{{ _('LBL_CART') }}</a>
                                <a href="{{ getPageName('checkout') }}" class="theme-btn">{{ _('LBL_CHECKOUT') }}</a>
                            </div>
                            <div class="on-empty-cart text-center{% if cart.getNumberOfCartItems > 0 %} d-none{% endif %}">{{ _('LBL_EMPTY_CART') }}</div>
                        </div>
                    </div>
                    {#
                    <!-- Search Btn -->
                    <div class="search-box">
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </div>
                    #}
                </div>
            </div>
        </div>
    </div>

    <div class="sticky-header">
        <div class="auto-container clearfix">
            <div class="logo">
                <a href="/"><img src="{{ uploads }}logo-alt.svg" width="110" alt="{{ settings.shopName }}"></a>
            </div>

            <div class="nav-outer">
                <nav class="main-menu">
                </nav>
            </div>
        </div>
    </div>

    <div class="mobile-header">
        <div class="logo"><a href="/"><img src="{{ uploads }}logo-alt.svg" width="110" alt="{{ settings.shopName }}" title=""></a></div>
        <div class="nav-outer clearfix">
        </div>
    </div>

    <div class="mobile-menu">
        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="{{ uploads }}logo-alt.svg" width="110" alt="{{ settings.shopName }}" title=""></a></div>
        </nav>
    </div>

    {#
    <!-- Header Search -->
    <div class="search-popup">
        <span class="search-back-drop"></span>

        <div class="search-inner">
            <button class="close-search"><span class="fa fa-times"></span></button>
            <form method="post" action="/">
                <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="{{ _('LBL_SEARCH') }}..." required="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Header Search -->
    #}
</header>