<br>
<br>
<b>Ajánlatkérés az alábbi termékre:</b>

<table width="100%" cellspacing="0" cellpadding="4" border="1">
    <tbody>
    <tr>
        <td width="20%"><img src="{{ itemImage }}" alt="{{ itemName }}" width="100"></td>
        <td valign="top">
            <b>{{ itemName }}</b>
            <br><br>
            <a href="{{ itemPublicUrl }}">Termék megtekintése a weboldalon....</a>
            <br>
            <a href="{{ itemAdminUrl }}">Termék megtekintése az admin oldalon....</a>
        </td>
    </tr>
    </tbody>
</table>