<table border="0" cellpadding="10" cellspacing="0" style="" width="100%">
    <tr>
        <td>
            <h4 style="margin: 10px 0;">{{ _('LBL_ORDER_NUMBER') }}: {{ orderNumber }}</h4>
        </td>
    </tr>
    {% if showPaymentInfo %}
    <tr>
        <td>
            {% if transaction.getStatus == 'OK' %}
                <div style="border: 1px solid #c3e6cb; color: #155724; background-color: #d4edda; border-radius: 5px; margin:10px 0;padding:10px 15px;">
                    <b style="font-size: 18px;margin-bottom: 10px;">{{ _('LBL_PAYMENT_SUCCESS') }}</b>
                    <br>
                    {{ _('LBL_TRANSACTION_ID') }}: <b>{{ transaction.transactionId }}</b>
                    <br>
                    {{ _('LBL_AUTH_CODE') }}: <b>{{ transaction.authCode }}</b>
                </div>
            {% else %}
                <div style="border: 1px solid #f5c6cb; color: #721c24; background-color: #f8d7da; border-radius: 5px; margin:10px 0;padding:10px 15px;">
                    <b style="font-size: 18px;margin-bottom: 10px;">{{ _('LBL_PAYMENT_FAILED') }}</b>
                    <br>
                    {{ _('LBL_TRANSACTION_ID') }}: <b>{{ transaction.transactionId }}</b>
                    {% if transaction.message %}
                        <br>
                        {{ transaction.message }}
                    {% endif %}
                </div>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    <tr>
        <td style="border-bottom:1px solid #EDECEC;">
            <h3 style="margin: 10px 0;">{{ _('LBL_CONTACT_DATA') }}</h3>
            <b>{{ contactData.name }}</b>
            <br>
            {{ _('LBL_EMAIL') }}: {{ contactData.email }}
            <br>
            {{ _('LBL_PHONE') }}: {{ contactData.phone }}
        </td>
    </tr>
    <tr>
        <td style="border-bottom:1px solid #EDECEC;">
            <h3 style="margin: 10px 0;">{{ _('LBL_SHIPPING_DATA') }}</h3>
            {{ shippingAddress.name }}
            <br>
            {{ shippingAddress.zip }} {{ shippingAddress.city }}, {{ shippingAddress.address }}
        </td>
    </tr>
    <tr>
        <td style="border-bottom:1px solid #EDECEC;">
            <h3 style="margin: 10px 0;">{{ _('LBL_INVOICE_DATA') }}</h3>
            {{ invoiceAddress.name }}
            <br>
            {{ invoiceAddress.zip }} {{ invoiceAddress.city }}, {{ invoiceAddress.address }}
            {% if invoiceAddress.vatNumber %}
                <br>
                {{ _('LBL_VAT_NUMBER') }}: {{ invoiceAddress.vatNumber }}
            {% endif %}
        </td>
    </tr>
</table>

{% if items %}
    <h3 style="padding: 0 10px;margin: 10px 0;">{{ _('LBL_ORDERED_ITEMS') }}</h3>
    <table border="0" cellpadding="10" cellspacing="0" style="" width="100%">
        <thead>
        <tr>
            <th align="left" colspan="2" style="border-bottom:2px solid #EDECEC;">{{ _('LBL_PRODUCT_TITLE') }}</th>
            <th align="center" style="border-bottom:2px solid #EDECEC;">{{ _('LBL_QUANTITY') }}</th>
            <th align="right" style="border-bottom:2px solid #EDECEC;">{{ _('LBL_PRICE') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for cid, item in items %}
            <tr>
                <td width="2%" style="border-bottom:1px solid #EDECEC;">
                    <a href="{{ domain }}{{ item.url }}"><img src="{{ domain }}{{ item.image }}" width="50" alt="{{ item.name }}"></a>
                </td>
                <td width="73%" style="border-bottom:1px solid #EDECEC;">
                    <a href="{{ domain }}{{ item.url }}" style="color:#000000;text-decoration:none;"><b>{{ item.name }}</b></a>
                    <p style="color:#7E422D; font-size: 12px;">
                        {% if item.brand %}
                            {{ _('LBL_BRAND') }}: {{ item.brand }}
                        {% endif %}
                        {% if item.variant %}
                            {{ item.variant }}
                        {% endif %}
                    </p>
                </td>
                <td width="10%" align="center" style="border-bottom:1px solid #EDECEC;">
                    {{ item.quantity.amount }} {{ item.quantity.unit }}
                </td>
                <td width="15%" align="right" style="border-bottom:1px solid #EDECEC;white-space: nowrap;">
                    {{ _price(item.price.total, currency) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td style="border-bottom:1px solid #EDECEC;">
                <h3 style="margin: 10px 0;">{{ _('LBL_SELECTED_SHIPPING_MODE') }}</h3>
                <p>
                    <b>{{ shippingMode.name }}</b>
                    <br>
                    {{ shippingMode.emailText|nl2br }}
                </p>
                {% if cart.getSelectedShippingInterval.id != 0 %}
                    <div style="margin-top: 15px;">
                        {% if cart.getSelectedShippingInterval.id == -1 %}
                            {% if cart.shippingDate %}
                                {{ _('LBL_SELECT_SHIPPING_DATE') }}:
                                {{ _date(cart.shippingDate, 41) }},
                            {% endif %}

                            {{ _('LBL_CUSTOM_SHIPPING_TIME') }}:
                            <b>{{ cart.getSelectedShippingInterval.customText }}</b>

                            {% if cart.getSelectedShippingMode.customIntervalText %}
                                <div style="color: #dc3545;">{{ cart.getSelectedShippingMode.customIntervalText }}</div>
                            {% endif %}
                        {% else %}
                            {{ _('LBL_SHIPPING_TIME') }}:
                            <b>
                                {{ _date(cart.shippingDate, 41) }},
                                {{ _date(cart.getSelectedShippingInterval.timeStart, 6, false) }} - {{ _date(cart.getSelectedShippingInterval.timeEnd, 6, false) }}
                            </b>
                        {% endif %}
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="border-bottom:1px solid #EDECEC;">
                <h3 style="margin: 10px 0;">{{ _('LBL_SELECTED_PAYMENT_MODE') }}</h3>
                <p>
                    <b>{{ paymentMode.name }}</b>
                    <br>
                    {{ paymentMode.emailText|nl2br }}
                </p>
            </td>
        </tr>
        {% if remarks %}
            <tr>
                <td style="border-bottom:1px solid #EDECEC;">
                    <h3 style="margin: 10px 0;">{{ _('LBL_REMARKS') }}</h3>
                    <p>
                        {{ remarks|nl2br }}
                    </p>
                </td>
            </tr>
        {% endif %}
    </table>


    <br>
    <table border="0" cellpadding="10" cellspacing="0" width="50%">
        <tr>
            <td>{{ _('LBL_TOTAL') }}:</td>
            <td align="right" style="white-space: nowrap;">{{ _price(subtotal, currency) }}</td>
        </tr>
        {% if discount %}
        <tr>
            <td>{{ _('LBL_DISCOUNT') }}:</td>
            <td align="right" style="white-space: nowrap;">{{ _price(discount, currency) }}</td>
        </tr>
        {% endif %}
        {% if packagingFee %}
            <tr>
                <td>{{ _('LBL_PACKAGING_FEE') }}:</td>
                <td align="right" style="white-space: nowrap;">{{ _price(packagingFee, currency) }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ _('LBL_SHIPPING_FEE') }}:</td>
            <td align="right" style="white-space: nowrap;">
                {% if shippingFee %}
                    {{ _price(shippingFee, currency) }}
                {% else %}
                    {{ _('LBL_FREE') }}
                {% endif %}
            </td>
        </tr>
        {% if paymentFee %}
            <tr>
                <td>{{ _('LBL_PAYMENT_FEE') }}:</td>
                <td align="right" style="white-space: nowrap;">{{ _price(paymentFee, currency) }}</td>
            </tr>
        {% endif %}
        <tr>
            <td style="border-top:1px solid #EDECEC;"><b>{{ _('LBL_GRAND_TOTAL') }}:</b></td>
            <td align="right" style="border-top:1px solid #EDECEC;white-space: nowrap;"><b>{{ _price(total, currency) }}</b></td>
        </tr>
    </table>
{% endif %}