{% import "doc-tools.twig" as tools %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="hu">
<head>
    <meta http-equiv="Content-Type" content="text/html;">
    <title></title>
    {% include "doc-styles.twig" %}
    <style type="text/css" media="print">
        @page {
            margin: 20px 50px;
        }
    </style>
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 20px">
    <tbody>
        <tr>
            <td width="20%" valign="middle" align="left">
                <img src="{{ domain }}/uploads/{{ shopId }}/logo-mail.png" width="100" alt="">
            </td>
            <td width="60%">
                <h1>Rendelések</h1>
                {% if delivery %}
                <div>
                    {{ _('LBL_DELIVERY_PLACE') }}: <b>{{ delivery }}</b>
                </div>
                {% endif %}
                {% if category %}
                <div>
                    {{ _('LBL_CATEGORY') }}: <b>{{ category }}</b>
                </div>
                {% endif %}
                <div>
                    {{ _('LBL_SHIPPING_DATE') }}: <b>{{ _date(dateMin) }}</b>{% if dateMax and dateMax != dateMin %}-tól <b>{{ _date(dateMax) }}</b>-ig{% endif %}
                </div>
            </td>
            <td width="20%">
            </td>
        </tr>
    </tbody>
</table>

{% if rows %}
    {% set cartId = false %}
    {% set tableOpen = false %}
    {% for r in rows %}

            {% if cartId != r.cartId %}
                {% set cartId = r.cartId %}

                {% if tableOpen %}
                    </tbody>
                    </table>
                    <br>
                {% endif %}

                {% set tableOpen = true %}

                <table width="100%" cellpadding="5" cellspacing="0" border="0" class="border no-page-break-inside">
                <tbody>

                <tr style="background-color: #EDECEC;">
                    <td colspan="2" style="border-bottom:1px solid #EDECEC;">
                        <b>{{ r.orderNumber }}</b>
                        <br>
                        {{ r.customerName }} ({{ r.customerPhone }})
                        <br>
                        {{ _('LBL_PAYMENT_TYPE') }}:
                        {% if r.paymentType == 1 %}
                            {{ _('LBL_PAYMENT_TYPE_CASH') }}
                        {% elseif r.paymentType == 2 %}
                            {{ _('LBL_PAYMENT_TYPE_MONEY_TRANSFER') }}
                        {% elseif r.paymentType == 3 %}
                            {{ _('LBL_PAYMENT_TYPE_CARD') }}
                        {% endif %}

                        {% if r.isPaid %}
                            ({{ _('LBL_PAID') }})
                        {% endif %}
                        <br>
                        {{ _('LBL_DELIVERY_PLACE') }}: ({{ r.shippingCode }})
                        {% if r.shippingStoreName %}
                            {{ r.shippingStoreName }}
                        {% else %}
                            {{ _('LBL_SHIPPING_TYPE_DELIVERY') }}:
                            {{ r.shippingZip }} {{ r.shippingCity }}, {{ r.shippingAddress }}

                        {% endif %}
                        {% if r.remarks %}
                            <br>
                            <span class="small">{{ _('LBL_REMARKS') }}: {{ r.remarks|nl2br }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td style="border-bottom:1px solid #EDECEC;padding-left: 15px;">
                    {{ r.productName }}{% if r.variantName %} ({{ r.variantName }}){% endif %}
                </td>
                <td align="right" style="border-bottom:1px solid #EDECEC;">
                    {{ r.quantity }} {{ r.unit }}
                </td>
            </tr>
    {% endfor %}

    {% if tableOpen %}
        </tbody>
        </table>
        <br>
    {% endif %}
{% else %}
    {{ _('LBL_NO_ITEMS') }}
{% endif %}

</body>
</html>
